dist: xenial

before_install:
  - sudo apt-get update
  - docker-compose --version

language: python
python:
    - "2.7"
    - "3.6"
    - "3.7"
install:
    - "pip install -r requirements-dev.txt"
    - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install sphinx sphinx_theme; fi
script:
    - git clone https://github.com/NrgXnat/xnat-docker-compose
    - cd xnat-docker-compose
    - sudo docker-compose up -d &> /tmp/docker.log
    - sleep 120
    - tail -100 /tmp/docker.log
    - sudo docker-compose logs --tail=20 xnat-web
    - "cd -"
    - export PYTHONPATH=$PYTHONPATH:$(pwd)
    - "nosetests pyxnat/tests --nologcapture --with-coverage --cover-inclusive --cover-erase --cover-package ."
    - "coverage report -m"

after_success:
    - coveralls
    - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then ./build-docs.sh; fi
